* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes spin {
    from { /*Começa em  0 graus*/
        transform: rotate(0deg);
    }
    to { /*Termina em 360 graus*/
        transform: rotate(360deg);
    }
}

@keyframes bg-transform {
    0% {
        background-color: #838383;
    }
    100% {
        background-color: greenyellow;
    }
}
@keyframes icon-appear {
    0% {
        display: none;
    }
    100% {
        display: flex;
    }
}

body {
    height: 100vh;
    background-color: rgb(34, 34, 34);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container > .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 250px;
    background-color: #838383;
    border-radius: .3rem;
    border: none;
    outline: none;
    padding: .3rem;
    cursor: pointer;
    animation: bg-transform .4s ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards; /* Mantém a animação final, nesse caso o greenyellow */
}

.btn-primary > .loading-spinner {
    width: 30px;
    height: 30px;
     border: 3px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;

    animation: spin 1s linear infinite;
}

.btn-primary > .check-icon {
    position: absolute;
    height: 32px;
    height: 32px;
    font-size: 32px;
    font-weight: bold;
    background-color: inherit;
    color: #838383;
    animation: icon-appear .4s linear;
    animation-delay: 3s;
    animation-fill-mode: backwards; /* Mantém a animação do inicio*/ 
}