* {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

nav {
  padding: 25px;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 32px;
}
nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  font: normal bold 16px "Roboto", sans-serif;
  color: #495371;
}
nav ul a:hover {
  border-bottom: 2px solid #74959A;
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  max-height: 500px;
}
.banner .inner-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F1E0AC;
  opacity: 0.8;
  border-radius: 15px;
  padding: 48px;
  font-weight: 700;
}
.banner .inner-banner h1 {
  font-size: 3rem;
  text-align: center;
  color: #495371;
  margin-bottom: 8px;
}
.banner .inner-banner h2 {
  font-size: 1.5rem;
  color: #74959A;
}

.services h3 {
  font-size: 2rem;
  color: #74959A;
  text-align: center;
  margin: 25px 0 10px 0;
}
.services h4 {
  font-size: 1.5rem;
  color: #495371;
  text-align: center;
  margin-bottom: 80px;
}
.services .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 32px;
}
.services .cards .card .img-container {
  border-bottom: 2px solid #74959A;
  padding-bottom: 2px;
}
.services .cards .card .img-container img {
  border-radius: 10px;
  max-width: 100%;
}
.services .cards .card h5 {
  font-size: 1.5rem;
  color: #74959A;
  margin: 10px 0;
}
.services .cards .card p {
  font-size: 1rem;
  line-height: 1.3rem;
  color: #495371;
  max-width: 548px;
  margin-bottom: 80px;
}

.coupon {
  background-color: #F1E0AC;
  max-width: 50%;
  padding: 50px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
}
.coupon .text {
  color: #495371;
  text-align: center;
}
.coupon .text h2 {
  font-size: 2rem;
}
.coupon .inscription .input {
  max-width: 544px;
  margin: 32px auto;
}
.coupon .inscription .input input {
  width: 100%;
  font-size: 1rem;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.5s;
}
.coupon .inscription .input input:hover, .coupon .inscription .input input:focus {
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}
.coupon .inscription button {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: auto;
  padding: 16px 32px;
  border-radius: 10px;
  background-color: #495371;
  color: #F1E0AC;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.coupon .inscription button:hover {
  background-color: #74959A;
  transition: 0.5s;
}

footer {
  font-size: 1.5rem;
  text-align: center;
  color: #F1E0AC;
  padding: 32px 0;
  background: linear-gradient(to left, #74959A, #495371);
}
footer i {
  color: red;
}

.publicity {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 2rem;
}
.publicity .text {
  color: #495371;
  line-height: 1.2rem;
}
.publicity .text h3 {
  font-size: 2rem;
  font-weight: bold;
}
.publicity .text h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.publicity .text p {
  font-size: 1rem;
  max-width: 550px;
}/*# sourceMappingURL=style.css.map */